.sidebar {
    position: fixed;
    height: 92%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #00324b;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    margin-top: 50px;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin: 0;
    padding: 0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 100%;
    min-width:200px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar a:hover{
    color: white;
    background-color: orange;
    text-decoration: none;
    font-weight: bold;
}

#abrir {
    background-color: #00abf0;
    margin-left: 0px;
    padding: 10px;
    text-decoration: none;
    margin-top: 200px;
    color: white;
    position: fixed;
    display: block; 
}

#abrirFace {
    background-color: #3b5998;
    margin-left: 0px;
    padding: 12px;
    text-decoration: none;
    margin-top: 214px;
    color: white;
    position: fixed;
    display: block;
}

#abrirYt {
    background-color: #c4302b;
    margin-left: 0px;
    padding: 10px;
    text-decoration: none;
    margin-top: 250px;
    color: white;
    position: fixed;
    display: block;
}

#cerrar {
    display: hidden;
}